<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [1]:
#Poin A
print("Hello, my name is Belinda")
#Poin B 
nama = "Belinda"
print("Hello, my name is " + nama)
#Poin C
nama = "Belinda"
print("Hello, my name is " + nama)
#Poin D
nama =  "Belinda"
print("Hello, my name is {}".format(nama))

Hello, my name is Belinda
Hello, my name is Belinda
Hello, my name is Belinda
Hello, my name is Belinda

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [2]:
#Poin A
jose = 4 * 15
teman = jose / 12
print("Setiap teman akan mendapat {} kelereng".format(int(teman)))

Setiap teman akan mendapat 5 kelereng

In [3]:
#Poin B
n = 8 ** (1/3)
print(int(n))

2

In [4]:
#Poin C
modal = 50000
hb_binder = 7500
total_binder = 50000 / 7500
print("Catharina dapat membeli {} binder dengan uang yang ia punya.".format(int(total_binder)))

kembalian = modal - ((int(total_binder)) * 7500)
print("Kembalian yang didapatkan oleh Catharina adalah Rp {}.".format(kembalian))

Catharina dapat membeli 6 binder dengan uang yang ia punya.
Kembalian yang didapatkan oleh Catharina adalah Rp 5000.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [5]:
string_value = "1000"
int_value = int(string_value)
print(f"{int_value} {type(int_value)}")

float_value = 5.25
int_value = int(float_value)
print(f"{int_value} {type(int_value)}")

int_value = 5
float_value = float(int_value)
print(f"{float_value} {type(float_value)}")

int_value = 1000
string_value = str(int_value)
print(f"{string_value} {type(string_value)}")

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [6]:
s = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
print(s[20:31])

what a man'

In [7]:
s = "If you want to know what a man's like take a good look at how he treats his inferiors, not his equals."
print(s.split())

['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']

In [8]:
s = "If you want to know what a man's like take a good look at how he treats his inferiors, not his equals."
print(s[::-1])

.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "Fakultas".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [9]:
fakultas = ("School of Business and Management", "School of Information Technology", "School of Creative Industry", "School of Tourism", "School of Medicine", "School of Dental Medicine", "School of Pyschology", "School of Communication Science and Media Business", "School of Entrepreneurship and Humanities")

In [10]:
print(len(fakultas))

9

In [11]:
print(fakultas.index("School of Information Technology"))

1

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [12]:
nama_makanan = ["Mie Ujung Pandang", "Sop", "Kare Jepang"]

In [13]:
for makanan in nama_makanan:
    print(makanan)

Mie Ujung Pandang
Sop
Kare Jepang

In [14]:
for makanan in nama_makanan:
    print(f"Aku ingin pesan {makanan}")

Aku ingin pesan Mie Ujung Pandang
Aku ingin pesan Sop
Aku ingin pesan Kare Jepang

In [15]:
nama_makanan[nama_makanan.index("Sop")] = "Nasi Goreng"
print(nama_makanan)

['Mie Ujung Pandang', 'Nasi Goreng', 'Kare Jepang']

III. Set

1. Buatlah 4 buah set sebagai berikut
    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [16]:
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

In [17]:
set_union = set1.union(set2)
print(set_union)

{1, 2, 3, 4, 6, 8}

In [18]:
print(set1.isdisjoint(set3))

True

In [19]:
print(set4.issubset(set1))

True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [20]:
def hitung_tarif_listrik(penggunaan):
    if penggunaan < 100:
        penggunaan = 100
    
    if penggunaan < 1000:
        tarif = penggunaan * 1000
    else:
        tarif = penggunaan * 2000
        tarif += 0.1 * tarif
    
    return tarif

penggunaan_listrik = float(input("Masukkan jumlah penggunaan listrik (dalam kWh): "))
total_tarif = hitung_tarif_listrik(penggunaan_listrik)
print(f"Tarif yang harus dibayar: Rp{total_tarif:,.0f}")

Tarif yang harus dibayar: Rp250,000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [21]:
import math
def hitung (jumlah_orang):
    if jumlah_orang < 0:
        print("Jumlah orang tidak bisa negatif!")
    else:
        kapasitas = 10
        jumlah_angkot = math.ceil(jumlah_orang/kapasitas)
    
    return f"Jumlah angkot yang diperlukan: {jumlah_angkot}"

input = int(input("Masukkan jumlah peserta : "))
hasil = hitung(input)
print(hasil)

Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [22]:
import numpy as np
# 1
days_of_week = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [23]:
# 2
days_of_week.sort()
print(days_of_week)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [24]:
import random as random
# 3
random_day = np.random.choice(days_of_week)
print(f"Selamat hari {random_day} adalah hari baikmu bulan ini!")

Selamat hari Jumat adalah hari baikmu bulan ini!

In [25]:
# 4
matrix = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(matrix)
print(f"Shape: {matrix.shape}, Dimension: {matrix.ndim}")

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Shape: (3, 4), Dimension: 2

In [26]:
# 5
print(matrix[:, 2])

[ 3  7 11]

In [27]:
# 6
matrix_2x6 = matrix.reshape(2, 6)
print(matrix_2x6)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [28]:
import pandas as pd

# 1
series = pd.Series(["Information", "Systems", "for", "Business"])
print(series)
# 2
dataframe = { "brand": "Ford", "model": "Mustang", "year": 1964 }
df = pd.DataFrame([dataframe])
print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [29]:
# 3
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"
dataset = pd.read_csv(url)

In [30]:
# 4
kota = dataset['State'].unique()
print(kota)

['New York' 'California' 'Florida']

In [31]:
# 5
dataset_baru = dataset.sample(n = 10)
print(dataset_baru.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
9   123334.88       108679.17        304981.62  California  149759.96
12   93863.75       127320.38        249839.44     Florida  141585.52
14  119943.24       156547.42        256512.92     Florida  132602.65
36   28663.76       127056.21        201126.82     Florida   90708.19

In [32]:
# 6
dataset_baru.info()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 45 to 5
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        10 non-null     float64
 1   Administration   10 non-null     float64
 2   Marketing Spend  10 non-null     float64
 3   State            10 non-null     object
 4   Profit           10 non-null     float64
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [33]:
#7
california = dataset[dataset['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print(california)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [34]:
# 8
dataset.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [35]:
# 9
dataset.drop(dataset[dataset['Profit'] >= 50000].index, inplace=True)

In [36]:
# 10
dataset =  dataset.sort_values(by = 'Marketing Spend', ascending=False)
print(dataset.head())

    R&D Spend  Administration  Marketing Spend       State    Profit
46    1315.46       115816.21        297114.46     Florida  49490.75
49       0.00       116983.80         45173.06  California  14681.40
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [37]:
# 1
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"
df = pd.read_csv(url)

In [38]:
# 2
df.sample(n = 10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
15,16,2013.583,35.7,579.20830,2,24.98240,121.54619,50.5
382,383,2013.000,16.3,3529.56400,0,24.93207,121.51597,29.3
19,20,2012.667,1.5,23.38284,7,24.96772,121.54102,47.7
305,306,2013.083,16.2,289.32480,5,24.98203,121.54348,55.0
198,199,2013.083,34.0,157.60520,7,24.96628,121.54196,39.1
318,319,2013.333,7.1,379.55750,10,24.98343,121.53762,49.8
149,150,2012.667,34.9,179.45380,8,24.97349,121.54245,39.7
31,32,2012.750,29.6,769.40340,7,24.98281,121.53408,25.0
394,395,2013.500,32.6,4136.27100,1,24.95544,121.49630,24.7
151,152,2013.500,4.9,387.77210,9,24.98118,121.53788,44.7

In [39]:
# 3
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [40]:
# 4
df = df.drop('No', axis=1)
df.columns = ['transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area']

In [41]:
# 5
df.isnull().sum()

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convinience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64